<div class="jumbotron">
    <button ng-if="workflowService.isRewindable()" type="button" class="btn btn-primary" data-ng-click="workflowService.rewind()">Back</button>
    <div ng-if="workflowService.getCurrentNode().shouldShow('Welcome')">
        Welcome
    </div>
    <div ng-if="workflowService.getCurrentNode().shouldShow('Login')">
        Login
    </div>
    <div ng-if="workflowService.getCurrentNode().shouldShow('Result')">
        Result
    </div>
    <button ng-if="workflowService.isAdvanceable()" type="button" class="btn btn-primary" data-ng-click="workflowService.advance()">Next</button>
</div>